<!DOCTYPE html>
<html lang="en-us" ng-app="School">
<head>
    @Html.Partial("Header")
</head>
<body ng-controller="IndexPage" ng-init="initIndex()">
    @Html.Partial("Top_Header")
    @Html.Partial("Menubar")
    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <div class="card dash-info-carousel">
                    <div class="card-body">
                        <div id="carousel_2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item">
                                    <div class="media">
                                        <img src="../assets/images/products/img-1.png" class="mr-3 thumb-xl align-self-center" alt="...">
                                        <div class="media-body align-self-center">
                                            <h4 class="mt-0 mb-1 title-text text-dark">White Shoe</h4>
                                            <p class="text-muted mb-1">Standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                                            <p class="text-muted">When an unknown printer took a galley of type.</p>
                                            <span class="px-2 py-1 bg-soft-pink d-inline-block">Sold 582</span>
                                            <a href="" class="bg-soft-purple px-2 py-1"><i class="dripicons-download"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item active">
                                    <div class="media">
                                        <img src="../assets/images/products/img-2.png" class="mr-3 thumb-xl align-self-center" alt="...">
                                        <div class="media-body align-self-center">
                                            <h4 class="mt-0 mb-1 title-text">Unique Watch</h4>
                                            <p class="text-muted mb-1">Standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                                            <p class="text-muted">When an unknown printer took a galley of type.</p>
                                            <span class="px-2 py-1 bg-soft-pink d-inline-block">Sold 582</span>
                                            <a href="" class="bg-soft-purple px-2 py-1"><i class="dripicons-download"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="media">
                                        <img src="../assets/images/products/img-7.png" class="mr-3 thumb-xl align-self-center" alt="...">
                                        <div class="media-body align-self-center">
                                            <h4 class="mt-0 mb-1 title-text">Unique Watch</h4>
                                            <p class="text-muted mb-1">Standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                                            <p class="text-muted">When an unknown printer took a galley of type.</p>
                                            <span class="px-2 py-1 bg-soft-pink d-inline-block">Sold 582</span>
                                            <a href="" class="bg-soft-purple px-2 py-1"><i class="dripicons-download"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <a class="carousel-control-prev" href="#carousel_2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel_2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>




            </div><!-- container -->

            <footer class="footer text-center text-sm-left">
                &copy; 2020 Crovex <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->













    @Html.Partial("Footer")
    <script src="~/js/App/Model1.js"></script>
</body>
</html>
