<!DOCTYPE html>
<html lang="en-us" ng-app="School">
<head>
    @Html.Partial("Header")
</head>
<body class="account-body accountbg" ng-controller="IndexPage" ng-init="initIndex()">


    @Html.Partial("Footer")
    <script src="~/js/App/Model1.js"></script>
</body>

</html>
